Repository substrate-developer-hub/knowledgebase, pull requests merged in 2020-04, with the labels that each got.

#44 Finish Metadata PR
  current/config.json
  current/runtime/metadata.md
Labels: A0 - Please Review, K1 - Runtime

#47 Update weights based on latest Substrate changes
  current/learn-substrate/weight.md
  current/runtime/fees.md
Labels: A0 - Please Review, K1 - Runtime

#52 Add Prettier
  .github/pull_request_template.md
  .github/workflows/main.yml
  .prettierrc.json
  CONTRIBUTING.md
  README.md
  current/advanced/codec.md
  current/advanced/consensus.md
  current/advanced/cryptography.md
  current/advanced/executor.md
  current/advanced/ss58-address-format.md
  current/advanced/storage.md
  current/config.json
  current/contribute/help-translate.md
  current/getting-started/glossary.md
  current/getting-started/index.md
  current/getting-started/windows-users.md
  current/integrate/chain-spec.md
  current/integrate/libraries.md
  current/integrate/polkadot-js.md
  current/integrate/subkey.md
  current/learn-substrate/account-abstractions.md
  current/learn-substrate/extrinsics.md
  current/learn-substrate/index.md
  current/learn-substrate/off-chain-workers.md
  current/learn-substrate/session-keys.md
  current/learn-substrate/tx-pool.md
  current/learn-substrate/weight.md
  current/runtime/debugging.md
  current/runtime/events.md
  current/runtime/execution.md
  current/runtime/fees.md
  current/runtime/frame.md
  current/runtime/index.md
  current/runtime/macros.md
  current/runtime/metadata.md
  current/runtime/off-chain-workers.md
  current/runtime/origin.md
  current/runtime/pallets.md
  current/runtime/primitives.md
  current/runtime/storage.md
  current/runtime/tests.md
  current/smart-contracts/contracts-pallet.md
  current/smart-contracts/env-types.md
  current/smart-contracts/evm-pallet.md
  current/smart-contracts/faq.md
  current/smart-contracts/index.md
  current/smart-contracts/ink-development.md
  current/smart-contracts/ink-fundamentals.md
  current/smart-contracts/overview.md
Labels: A9 - Buy That Person a Beer!

#54 Extrinsic execution
  current/learn-substrate/weight.md
  current/runtime/events.md
  current/runtime/execution.md
  current/runtime/macros.md
  current/smart-contracts/overview.md
Labels: A0 - Please Review
